<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://cordova.apache.org/ns/plugins/1.0"
	id="cordova-plugin-its-eddystone"
	version="1.0.0">
	<name>Eddystone</name>
	<description>Cordova plugin for Eddystone</description>
	<author>quentin.fung@hku.hk</author>
  <license>Apache 2.0</license>
  <keywords>cordova,eddystone,beacon,android,ios,plugin</keywords>

	<js-module src="js/eddystone-plugin.js" name="eddystoneplugin">
		<clobbers target="its.eddystone" />
	</js-module>

	<dependency id="cordova-plugin-ble" />
</plugin>
